:root{
    --viewedWidth: 30%;
}

.metaDataChecker-container{
    width: 100%;
}

.formContainer{
    width: 100%;
    margin-inline: auto;
    margin-top: 3rem;
}

.formContainer > *{
    display: block;
    margin-inline: auto;
    text-align: center;
}

.formContainer > label{
    margin-bottom: 1rem;
    font-weight: 600;
}

.formContainer > #urlInput{
    width: max(var(--viewedWidth), 300px);
    height: 40px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 4px 5px 0 var(--shadow-color);
    background-color: var(--card-background-gray);
    padding: 1.2rem;
    font: 16px 'Poppins';
    color: var(--typography-secondary);
    text-align: start;
}
.formContainer > #urlInput:focus{
    outline: 1px solid var(--accent);
}

.formContainer > button{
    font: 16px 'Poppins';
    border-radius: 100px;
    background-color: var(--primary-color);
    color: var(--off-white);
    padding: .2rem 3rem;
    margin-top: 1.75rem;
    cursor: pointer;
    transition: .5s;
    border: none;
}
.formContainer > button:not(.isChecking):hover{
    color:var(--accent)
}
.formContainer > button.isChecking{
    cursor: not-allowed;
    color:var(--typography-muted);
}




.resultsContainer{
    width: var(--viewedWidth);
    margin-inline: auto;
    margin-top: 2.2rem;
}

.resultsContainer .loader{
    width: 90%;
    margin-inline: auto;
}

.resultsContainer .loader > img{
    width: 100%;
    height: 100%;
}

.resultsContainer .table{
    background-color: var(--card-background-gray);
    border-radius: 10px;
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    box-shadow: 0 4px 5px 0 var(--shadow-color);
}

.resultsContainer .table .row{
    font: 18px "Poppins";
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 .3rem;
}
.resultsContainer .table .row .label{
    font-weight: 600;
}
.resultsContainer .table .row .data-value{
    color: var(--typography-secondary);
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
}
.resultsContainer .table .row img.data-value{
    width: 200px;
    max-height: 200px;
}



.statusDisplay{
    display: flex;
    gap:.4rem;
    align-items: center;
    justify-content: center;
    margin-bottom: .8rem;
}

