
:root{
    --gray: rgb(172, 169, 169);
    --light-gray: rgb(225, 223, 223);
    --dark-gray: rgb(93, 89, 89) ;
}

.cx-advanced-select{
    user-select: none;
    position: relative;
    width: 200px;
    border-radius: 5px;
}


.cx-advanced-select__trigger{
    position: relative;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .8rem;
    background-color: var(--light-gray);
    border-radius: 5px;
    color: var(--dark-gray);
    cursor: pointer;
    width:100%;
}
.cx-advanced-select__placeholder{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cx-advanced-select__arrow{
    position: relative;
    height: 8px;
    transform-origin: center;
    width: 6px;
    min-width: 6px;
}

.cx-advanced-select__arrow::after,
.cx-advanced-select__arrow::before{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--dark-gray);
    width: 2px;
    border-radius: 50px;
    transition: .45s
}
.cx-advanced-select__arrow::after{
    left: 0;
    transform: rotate(-40deg);
}
.cx-advanced-select__arrow::before{
    right: 0;
    transform: rotate(40deg);
}

.cx-advanced-select-open .cx-advanced-select__arrow::after{
    transform: rotate(40deg);
}
.cx-advanced-select-open .cx-advanced-select__arrow::before{
    transform: rotate(-40deg);
}



.cx-advanced-select__options{
    width: 100%;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 100%;
    z-index: 20;
}

.cx-advanced-select__options::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.cx-advanced-select__options::-webkit-scrollbar-track{
    background-color: var(--light-gray);
}
.cx-advanced-select__options::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 5px;
}
.cx-advanced-select__options::-webkit-scrollbar-thumb:hover{
    background-color: var(--dark-gray);
}
.cx-advanced-select__options::-webkit-scrollbar-corner{
    background-color: var(--light-gray);
}








input:focus{
    outline: none;
}

.cx-advanced-select__selectContainer__popup{
    position: absolute;
    z-index: 4000;
    top: 140%;
    background-color: #454c61;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 #0004;
    left: 0;
    translate: 0 10px;
    opacity: 0;
    animation: slide-popup-select-in .5s forwards;
    width:fit-content;
    min-width: 180px;
}
.cx-advanced-select__selectContainer__popup ul::-webkit-scrollbar{
    display: none;
}
.cx-advanced-select__selectContainer__popup ul{
    margin-top: 60px;
    max-height: 250px;
    overflow: auto;
    list-style-type: none;
}
.cx-advanced-select__selectContainer__popup .fa-caret-up{
    position: absolute;
    top: -17px;
    left: 20px;
    color: #454c61;
    font-size: 2rem;
}
.cx-advanced-select__selectContainer__popup ul li{
    padding: .5rem 1rem;
    transition: .5s;
    cursor: pointer;
    color:rgb(225, 223, 223);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cx-advanced-select__selectContainer__popup ul li:hover{
    background-color: #575d6c;
}
.cx-advanced-select__selectContainer__popup > input{
    font-size: 1rem;
    color: rgb(207, 207, 207);
    background-color: transparent;
    padding: .3rem .45rem;
    border: none;
    border-bottom: 1px solid currentColor;
    /* border-radius: 5px; */
    position: fixed;
    inset: 1rem 1rem auto 1rem;
    margin-bottom: 1rem;
}
.cx-advanced-select__selectContainer__popup > input::placeholder{
    opacity: .63;
    color: white
}

@keyframes slide-popup-select-in {
    to{
        opacity: 1;
        translate: 0 0;
    }
}


